@import "helpers/variables";

.Menu {
  max-width: 390px;
  z-index: 10000;
  //transform: translateX(-100%);
  transition: .3s;
  margin-left: 13px;
  margin-top: 10px;
  filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
  width: 100%;
  height: fit-content;
}

.Menu-wrapper {
  padding: 20px 0 20px 20px;
  background: #FFFFFF;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  //filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
  margin-top: -5px;
  z-index: 10;
}

.menu-inner {
  overflow-y: scroll;
  padding-right: 10px;
  max-height: 70vh;
}

.Menu-show-button {
  position: absolute;
  top: 20px;
  right: -50px;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  background-color: green;
  cursor: pointer;
}

.menu-filter-item {
  cursor: pointer;
}

.Menu-search {
  max-width: 100%;
  width: 100%;
  height: 50px;
  position: relative;

  input {
    width: 100%;
    height: 100%;
    padding: 0 30px 0 10px;
  }
}

.Menu-search-btn {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.Menu-search-btn--close {
  right: 25px;
}

.filter-btns {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  padding-right: 10px;
}

.filter-btn {
  height: 25px;
  border-radius: 10px;
  max-width: 98px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.filter-apply {
  background-color: $blue;
  font-weight: 700;
  color: #fff;
  border: 1px solid #000000;
  margin-left: 7px;
  margin-right: 7px;
}

.filter-reset {
  color: $blue;
  border: 1px solid $blue;
  margin-left: 7px;
  margin-right: 7px;
}

.nothing-found {
  margin: 40px;
}

.export-btn {
  height: 25px;
  border-radius: 10px;
  max-width: 130px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}