@import '~leaflet/dist/leaflet.css';

@import "./styles/helpers/variables";
@import "./styles/Menu";
@import "./styles/Loader.scss";
@import "./styles/LayerButton.scss";
.App {
  color: #000;
  max-height: 100vh;
  max-width: 1230px;
  margin: 0 auto;
  overflow: hidden;
}

.Map {
  height: 100vh;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
}